
.icon-emo-shoot:before { content: '\e803'; } /* '' */
.icon-download-cloud:before { content: '\e807'; } /* '' */
.icon-github-circled:before { content: '\e808'; } /* '' */
.icon-facebook:before { content: '\e809'; } /* '' */
.icon-download:before { content: '\e80a'; } /* '' */
.icon-twitter:before { content: '\e80b'; } /* '' */
.icon-gplus:before { content: '\e80c'; } /* '' */
.icon-download-1:before { content: '\e80d'; } /* '' */
.icon-facebook-1:before { content: '\e80e'; } /* '' */
.icon-gplus-1:before { content: '\e80f'; } /* '' */
.icon-pinterest:before { content: '\e810'; } /* '' */
.icon-tumblr:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-mail:before { content: '\e813'; } /* '' */
.icon-mail-1:before { content: '\e814'; } /* '' */
.icon-phone:before { content: '\e815'; } /* '' */